argcomplete==3.6.2
astor==0.8.1
async_generator==1.10
black==25.1.0
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.1
ConfigParser==7.2.0
contextlib2==21.6.0
coverage==7.6.10
cryptography==44.0.3
curio==1.6
docutils==0.21.2
exceptiongroup==1.2.2
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.131.15
importlib_metadata==8.7.0
ipython==9.2.0
ipywidgets==8.1.7
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
mypy==1.15.0
numpy==2.2.5
pexpect==4.9.0
Pillow==11.2.1
protobuf==6.30.2
pylint==3.3.7
pyodide==0.0.2
pyOpenSSL==25.0.0
pyright==1.1.400
python_socks==2.7.1
railroad==0.5.0
ruff==0.11.8
setuptools==80.3.1
simplejson==3.20.1
Sphinx==8.2.3
thread==2.0.5
tornado==6.4.2
trustme==1.2.1
truststore==0.10.1
Twisted==24.11.0
urllib3_secure_extra==0.1.0
websockets==15.0.1
win_inet_pton==1.1.0
wsaccel==0.6.7
xmlrpclib==1.0.1
zope==5.13
zstandard==0.23.0
